{% extends "layout.html" %}

{% block content %}



    <div class="jumbotron">
        <h1>疫情小助手</h1>
        <p class="lead ps">
            2020年是不平凡的一年，新型冠状病毒肺炎疫情在全国甚至全世界蔓延。<br>
            但我们相信在不久得将来疫情将会被有效控制然后被消灭。<br>
        </p>
        <h1>
            by three funs of JC dalao
        </h1>
    </div>

<div class="jumbotron">
    <p><a class="btn btn-default" href="{{ url_for('delete_all_discuss') }}">[root] 清空讨论区</a></p>
    <p><a class="btn btn-default" href="{{ url_for('about') }}">[root] 重启数据库</a></p>
    <p><a class="btn btn-default" href="{{ url_for('about') }}">[root] 同步历史数据</a></p>
</div>
{% endblock %}
