{% extends "layout.html" %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            $.ajax({
                url: '/getdata',
                success: function (data) {
                    var json_data = JSON.parse(data)
                    console.info(json_data['confirmexist'])
                    console.info(json_data['timeseries'])
                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '中国现有确诊趋势'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['现有确诊']
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: json_data['timeseries']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '现有确诊',
                                type: 'line',
                                data: json_data['confirmedexist']
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                }
            })
        })
    </script>
</body>
</html>

{% endblock %}