{% extends "layout.html" %}
{% block content %}
<style>
    .sbody {
        background-image: url('/static/images/yun.jpg');
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<div style=" background-color :white ">
    <div class="carousel slide" id="carousel-83435">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-83435">
            </li>
            <li data-slide-to="1" data-target="#carousel-83435">
            </li>
            <li data-slide-to="2" data-target="#carousel-83435" class="active">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item" style="text-align: center;">
                <img alt="" src="../static/images/op1.jpg" style="margin: 0 auto;width :100%;height :500px;"  />
                <div class="carousel-caption">
                    <h4>习近平主席视察疫情防控科研工作</h4>
                    <p>
                        中共中央总书记、国家主席、中央军委主席习近平在北京考察新冠肺炎防控科研攻关工作。这是习近平在军事医学研究院重大疫情应急防控药物研究室了解疫苗和抗体研制情况。
                    </p>
                </div>
            </div>
            <div class="item">
                <img alt="" src="../static/images/op2.jpg" style="margin: 0 auto;width :100%;height :500px;" />
                <div class="carousel-caption">
                    <h4>世界卫生组织针对疫情召开紧急会议</h4>
                    <p>
                        新冠肺炎全球确诊病例不断增加。世界卫生组织公共卫生紧急计划负责人警告，全世界都应该提高警戒，以对抗这种新型冠状病毒。世卫的莱恩博士则称赞中国当局对疫情采取的措施，称其对这项巨大的挑战发挥极大的反应。
                    </p>
                </div>
            </div>
            <div class="item active">
                <img alt="" src="../static/images/op3.jpg" style="margin: 0 auto;width :100%;height :500px;" />
                <div class="carousel-caption" >
                    <h4>默哀对疫情牺牲烈士和逝世同胞表示哀悼</h4>
                    <p>
                        5月21日，中国人民政治协商会议第十三届全国委员会第三次会议在北京人民大会堂开幕。全体与会人员默哀1分钟，对新冠肺炎疫情牺牲烈士和逝世同胞表示深切哀悼。
                    </p>
                </div>
            </div>
        </div> <a class="left carousel-control" href="#carousel-83435" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-83435" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>国家</th>
                <th>累计确诊</th>
                <th>治愈数</th>
                <th>死亡数</th>
                <th>现存确诊</th>
                <th>治愈率</th>
                <th>死亡率</th>
            </tr>
        </thead>
        <tbody>
            {% for item in oversea %}
            <tr>
                <td>
                    <img src="{{flags[item.name]}}" style="  height:40px  ">
                    {{item.name}}
                </td>
                <td>
                    {{item.confirmed}}
                    {% if  item.confirmedInc[1]=='0' %}
                    <p style=" color :cornflowerblue ;">{{item.confirmedInc}}</p>
                    {% elif  item.confirmedInc[0]=='+' %}
                    {%  if item.confirmedInc[1]=='待' %}
                    <p style=" color :black  "> </p>
                    {% else %}
                    <p style=" color :red "> {{item.confirmedInc}} &uarr; </p>
                    {% endif %}


                    {% else %}
                    <p style=" color :cornflowerblue ;">{{item.confirmedInc}}&darr; </p>
                    {% endif %}

                </td>
                <td>
                    {{item.cures}}
                    {% if  item.curesInc[1]=='0' %}
                    <p style=" color :cornflowerblue ;"> {{item.curesInc}} </p>
                    {% elif  item.curesInc[0]=='+' %}

                        {%  if  item.curesInc[1]=='待' %}
                        <p style=" color :black  "></p>
                    {% else %}
                    <p style=" color :cornflowerblue  ">  {{item.curesInc}} &uarr; </p>
                    {% endif %}

                    
                    {% else %}
                    <p style=" color :red;"> {{item.curesInc}}&darr; </p>
                    {% endif %}
                </td>
                <td>
                    {{item.deaths}}
                    {% if  item.deathsInc[1]=='0' %}
                    <p style=" color :cornflowerblue ;"> {{item.deathsInc}} </p>
                    {% elif  item.deathsInc[0]=='+' %}
                    {%  if  item.deathsInc[1]=='待' %}
                    <p style=" color :black  "> </p>
                    {% else %}
                    <p style=" color :red   ">  {{item.deathsInc}} &uarr; </p>
                    {% endif %}
                    {% else %}
                    <p style=" color :cornflowerblue ;"> {{item.deathsInc}} &darr; </p>
                    {% endif %}
                </td>
                <td>
                    {{item.confirmed-item.deaths-item.cures}}
                </td>
                <td>
                    {{int(item.cures*10000/item.confirmed)/100}}
                </td>
                <td>
                    {{int(item.deaths*10000/item.confirmed)/100}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
