{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="page-header">
    <h1>用户注册</h1>
</div>

<form class="form" method="POST">
    {{ form.csrf_token }}
    <p>{{ wtf.form_field(form.id) }}</p>
    <p>{{ wtf.form_field(form.name) }}</p>
    <p>{{ wtf.form_field(form.password) }}</p>
    <p>{{ wtf.form_field(form.password2) }}</p>
    <p>{{ wtf.form_field(form.register) }}</p>
</form>
<style >
    .hp{
        width :60px;
        height :60px;
    }
</style>
<div>
    
    <div id="hdd">
      <h1>请选择你的头像</h1>
    <button onclick="hck(this)" style=" display :block ">展开</button></div>
    
    <div id="hhd" style=" display :none">
        <div class="row">
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h1.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h1.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h2.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h2.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h3.jpeg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h3.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h4.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h4.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h5.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"<button href="{{ url_for('/static/images/headp/h5.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h6.jpeg" />
                <br />
                <br />
                <div style=" text-align:center;">

                <button  href="{{ url_for('/static/images/headp/h6.jpeg') }}">确认</button>

                </div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h7.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h7.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h8.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h8.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h9.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h9.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h10.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h10.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h11.jpeg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h11.jpeg') }}">确认</button></div>
                <<br />
                <br />
            </div>
            <div class="col-md-1">
                <img class="hp " src="../static/images/headp/h12.jpg" />
                <br />
                <br />
                <div style=" text-align:center;"><button href="{{ url_for('/static/images/headp/h12.jpg') }}">确认</button></div>
                <<br />
                <br />
            </div>
        </div>

    </div>
    <script>
        function hck() {
            hhd.style.display = "block";
          hdd.style.display = "none";
        }
    </script>
</div>
{% endblock %}
